{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
  

</head>

<body class="sub_page">

 
    <!-- header section strats -->
    <header class="header_section">
     
    </header>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <center>
      <div class="heading_container">
        <center>
        <h2>
          Change Password
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form_container">
            {% if msg %}
              <b style="color:blue">{{msg}}</b>
            {% endif %}
            <form action="{% url 'change-password' %}" method="POST" >
               {% csrf_token %}
               <center>
              <div>
                <input type="password" name="old_password" class="form-control"  placeholder="Enter Old Password" required />
              </div>
              <div>
                <input type="password" name="new_password" class="form-control"  placeholder="Enter New Password" required>
              </div>
              <div>
                <input type="password" name="cnew_password" class="form-control"  placeholder="Enter Confrim New Password" required>
              </div>
              
              <div class="btn_box">
                <button>
                  Change Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </center>
    </div>
  </section>
  <!-- end book section -->

  <!-- footer section -->
 

</body>

</html>
{% endblock %}