{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
  

</head>

<body class="sub_page">

 
    <!-- header section strats -->
    <header class="header_section">
     
    </header>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form_container">
              {% if msg %}
                <b style="color:blue">{{msg}}</b>
              {% endif %}
            <form action="{% url 'contact' %}" method="POST">
               {% csrf_token %}
              <div>
                <input type="text"  name="name" class="form-control" placeholder="Your Name" required />
              </div>
              <div>
                <input type="text" name="mobile" class="form-control"  placeholder="Phone Number"  required />
              </div>
              <div>
                <input type="email" name="email" class="form-control"  placeholder="Your Email" required />
              </div>
              <div>
                <textarea class="form-control"  placeholder="Your Message" name="message" required></textarea>
              </div>
              <div class="btn_box">
                <button>
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- footer section -->
<h1>Remark Contacts</h1>
      <hr>
         {% for i in contacts %}
         Name : {{i.name}}<br>
         Message : {{i.message}}<br><hr>
         {% endfor %}
</body>

</html>
{% endblock %}