{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
  

</head>

<body class="sub_page">

 
    <!-- header section strats -->
    <header class="header_section">
     
    </header>
    <!-- end header section -->
  </div>

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
       
        <h2>
          Login
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form_container">
            <form  action="{% url 'login' %}" method="POST" >
              {% csrf_token %}
              <div>
                <input type="email" name="email" class="form-control"  placeholder="Enter Your Email" required />
              </div>
              <div>
                <input type="password" name="password" class="form-control"  placeholder="Enter Password" required>
              </div>
              
              <div class="btn_box">
                <button>
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- end book section -->

  <!-- footer section -->
 

</body>

</html>
{% endblock %}